@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/webfontkit/gilroy-extrabold-webfont.woff2') format('woff2'), url('../fonts/webfontkit/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gilroylight';
  src: url('../fonts/webfontkit/gilroy-light-webfont.woff2') format('woff2'), url('../fonts/webfontkit/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*END OF CSS RESET*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
}
body {
  font-family: "Gilroy";
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body ::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}
body ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body ::-webkit-scrollbar-thumb {
  background: #888;
}
body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 0.5%;
}
.nav-wrapper img {
  padding: 18px 0px 0px 22px;
}
.nav-wrapper .nav-bar {
  display: flex;
  justify-content: space-around;
  width: 32%;
  padding: 26px 8px 0px 0px;
  /* letter-spacing: 0px; */
}
.nav-wrapper .nav-bar a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: 'gilroylight';
  font-size: 1.8rem;
  font-weight: 900;
  color: #3F3F3F;
  align-content: center;
}
.nav-wrapper .nav-bar :nth-last-child(2) {
  padding: 0px 46px 0px 17px;
}
.nav-wrapper .nav-bar :last-child {
  padding: 0px 51px 0px 0px;
}
.footer-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #dddddd;
}
.footer-nav-wrapper img {
  padding: 0px 0px 0px 25px;
}
.footer-nav-wrapper .footer-nav-bar {
  display: flex;
  margin: 36px 515px 0px 0px;
}
.footer-nav-wrapper .footer-nav-bar a {
  align-items: center;
  /* margin: 0px 0px 0px 0px; */
  text-decoration: none;
  font-family: "gilroylight";
  font-size: 1.4rem;
  color: #3f3f3f;
  font-weight: 900;
  line-height: 16px;
}
#footerNavTextLinks {
  margin: 0px 25px 0px 0px;
}
#footerNavTextLinks a {
  margin: 0px 0px 0px 48px;
}
#footerNavImgLinks {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
body {
  width: auto;
}
.main-content {
  padding-left: 5%;
  padding-top: 10%;
}
.nav-wrapper img {
  padding: 1.125em 0em 0em 1.375em;
}
.prompt-header {
  width: 51%;
  font-family: "gilroylight";
  font-weight: 900;
  color: #3f3f3f;
  line-height: 1.25em;
  padding: 58px 0px 0px 26px;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.25px;
}
.prompt-paragraph {
  padding: 37px 0px 0px 24px;
  font-family: gilroylight;
  line-height: 30px;
  font-size: 21px;
  letter-spacing: 0.25px;
  /* padding-bottom: 10px; */
  width: 46%;
}
.findTrialInputs {
  display: flex;
  padding: 45px 0px 0px 11px;
}
#findTrialButton {
  background-color: #223547;
  font-family: "gilroylight";
  height: 42px;
  width: 127px;
  border: 0;
  color: white;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 21px;
  margin: 0px 0px 0px 9px;
  text-transform: uppercase;
  transition: 0.3s background ease;
  z-index: 1;
}
#findTrialButton:hover {
  background: #1bd9c4;
}
#medicalConditionInput {
  padding: 1px 0px 0px 17px;
  margin: 0px 9px 0px 13px;
  width: 30em;
  height: 42px;
  border-radius: 21px;
  border: 0.05em solid #979797;
  font-size: 15px;
  font-weight: 500;
  font-family: "gilroylight";
  letter-spacing: 0px;
  z-index: 1;
}
#postalCodeInput {
  height: 42px;
  width: 134px;
  color: #828282;
  font-family: "gilroylight";
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  border: 0.05em solid #979797;
  border-radius: 21px;
  padding: 0px 0px 0px 25px;
  z-index: 1;
}
.molecules {
  pointer-events: none;
  margin-top: -30%;
  margin-bottom: 6.3%;
  z-index: 0;
}
.age-container {
  margin: 0 auto;
}
.age-page-logo {
  padding: 120px 0px 0px 144px;
}
.age-page-logo img {
  height: 63px;
  width: 172px;
}
.age-main-content {
  display: flex;
  padding: 84px 0px 0px 173px;
}
.age-prompt {
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 0px 0px 0px 68px;
  font-family: gilroylight;
}
.age-prompt p {
  font-size: 2.1em;
  padding: 3px 0px 27px 0px;
}
#ageInput {
  width: 18.5em;
  height: 48px;
  border-radius: 35px;
  border: 0.05em solid #979797;
  font-family: gilroylight;
  font-size: 16px;
  font-color: #AEAEAE;
  padding: 0px 0px 0px 235px;
}
#submitAge {
  background-color: #223547;
  font-family: "gilroylight";
  height: 46px;
  width: 105px;
  margin-top: 23px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 30px;
  transition: 0.3s background ease;
}
#submitAge:hover {
  background: #1BD9C4;
}
.age-results {
  display: flex;
}
.age-results-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91px;
  width: 232px;
  padding: 0px 0px 0px 0px;
  margin: 6px 0px 0px 300px;
  font-family: 'gilroylight';
  font-size: 2.1em;
  font-weight: 900;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
}
.ageBackArrow {
  padding: 142px 0px 0px 38px;
}
.age-container {
  margin: 0 auto;
}
.travelRadiusContainter {
  width: auto;
}
.travelRadiusHeader {
  display: block;
  padding: 121px 0px 0px 187px;
}
.travelRadiusHeader img {
  height: 63px;
  width: 172px;
}
.travelRadiusDial {
  margin-left: 20%;
}
.travelRadiusMainContent {
  display: flex;
  padding: 81px 0px 0px 218px;
}
.travelRadiusMainContent .box .chart {
  padding: 0px 0px 0px 0px;
}
.travelRadiusPrompt {
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 0% 0% 0% 6.8%;
  width: 60%;
}
.travelRadiusPrompt p {
  line-height: 1.5;
  font-size: 2.1rem;
  font-family: 'gilroylight';
  padding: 1% 0% 0% 0%;
  margin: 0% 0% 0% -1%;
}
.travelRadioDials {
  padding: 0.4% 0% 0% 0%;
}
.radioContainerTravelRadius {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 3px 0px 2px 43px;
  margin: 34px 0px 0px 0px;
  /* padding-left: 45px; */
  /* padding-bottom: 30px; */
  font-size: 21px;
  font-weight: 500;
  font-family: 'gilroylight';
}
.radioContainerTravelRadius input {
  display: none;
}
.radioContainerTravelRadius .circle {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 0.05em solid #1BD9C4;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.radioContainerTravelRadius:hover .circle {
  background-color: #1BD9C4;
}
.radioContainerTravelRadius input:checked + .circle {
  background-color: #1BD9C4;
}
.travel-results {
  display: flex;
}
.travel-results-text {
  display: flex;
  height: 91px;
  width: 232px;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  /* text-align: center; */
  /* justify-items: center; */
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.21);
  font-family: gilroylight;
  font-size: 2.1em;
  line-height: 25;
  letter-spacing: 1px;
  font-weight: 900;
}
.travelRadiusBackArrow {
  padding: 145px 0px 0px 80px;
}
